<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天玛云平台</title>

    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css"
        rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>


    {{the_script|safe}}


</head>
<body>

  {{the_div|safe}}


  <form method=post action="">
    {% csrf_token %}
    黄陵矿303工作面数据查询。请输入日期：
    <input id="r" name="r" type="text" value="2016-1-16">
    <input type=submit value=提交>

  </form>

  <form action="blog/simple_chart" method="post">
      <label for="your_name">Your name: </label>
      <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
      <input type="submit" value="OK">
  </form>


</body>
</html>
